@machine-width: 250px;
@machine-height: 80px;
@machine-margin-lr: 20px;
@machine-margin-tb: 10px;
@contents-width: @machine-width * 4 + @machine-margin-lr * 8;
@contents-height: @machine-height * 3 + @machine-margin-tb * 6;
@contents-margin: 30px;
@join-form-margin: 50px;
@join-form-width: @contents-width / 2 - @join-form-margin * 2;
@join-form-height: 150px;

body {
    text-align: center;
}

#contents {
    width: @contents-width;
    margin-left: auto;
    margin-right: auto;
    margin-top: @contents-margin;
}

#current {
    width: @contents-width;
    height: calc(@contents-height + 12px);
}

#washer {
    background-color: #ddddff;
    width: 50%;
    float: left;
}

#dryer {
    background-color: #ffdddd;
    width: 50%;
    float: left;
}

.machine {
    font-family: helvetica;
    font-size: 18px;
    background-color: white;
    width: calc(@machine-width - 4px);
    height: @machine-height;
    border: 2px solid black;
    margin: @machine-margin-tb @machine-margin-lr;
    float: left;
    position: relative;
}

.machine-name {
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    top: 5px;
    left: 10px;
}

.machine-status {
    position: absolute;
    top: 5px;
    right: 10px;
}

.machine-person {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.machine-time {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

#join {
    background-color: #dddddd;
    width: 100%;
    height: calc(@join-form-height + 4px);
    margin: 20px 0px;
    padding: 20px 0px;
}

.join-form {
    background-color: white;
    width: calc(@join-form-width - 4px);
    height: @join-form-height;
    border: 2px solid black;
    margin: 0px @join-form-margin;
    position: relative;
    float: left;
}

.join-label {
    font-family: helvetica;
    position: absolute;
    left: 15px;
}

.join-input {
    font-size: 15px;
    width: 290px;
    height: 40px;
    padding: 0px 5px;
    position: absolute;
    left: 10px;
}

.join-usr-label {
    .join-label();
    top: 10px;
}

.join-usr-input {
    .join-input();
    top: 28px;
}

.join-pwd-label {
    .join-label();
    top: calc(@join-form-height / 2);
}

.join-pwd-input {
    .join-input();
    top: calc(@join-form-height / 2 + 18px);
}

.join-submit {
    font-size: 15px;
    width: 120px;
    height: 40px;
    padding: 0px 5px;
    position: absolute;
    right: 20px;
}

.join-submit-enter {
    .join-submit();
    background-color: #ddeedd;
    &:hover {
        background-color: #d0e0d0;
    }
    &:active {
        background-color: #c0d0c0;
    }
    top: 28px;
}

.join-submit-exit {
    .join-submit();
    background-color: #ffdddd;
    &:hover {
        background-color: #f0d0d0;
    }
    &:active {
        background-color: #e0c0c0;
    }
    top: calc(@join-form-height / 2 + 18px);
}

#queue {
    width: calc(@contents-width / 2);
    background-color: #dddddd;
}

.queue-person {
    text-align: left;
    background-color: inherit;
    width: calc(50% - 20px);
    padding: 10px 10px;
    float: left;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}
